@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #94A3B8;
  --text-secondary: #E2E8F0;
  --text-dark: hsla(217, 100%, 74%, 0.695);
}
body {
  @apply bg-slate-950 text-slate-100;
}